[user]
	# NOTE: Replace with your own name and email
	name = Keigo Yamauchi
	email = y4mau@users.noreply.github.com
[include]
	path = ~/.gitconfig.local
[pager]
	log = less
	branch = cat
	config = less
[core]
	editor = vim
[init]
	defaultBranch = main
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[difftool]
	prompt = false
