[user]
	# NOTE: Replace with your own name and email
	name = Your Name
  email = your.email@example.com
[url "git@github.com:"]
  insteadOf = https://github.com/
[pager]
	log = less
	branch = cat
	config = less
[core]
	editor = code --wait
[credential]
	helper = osxkeychain
[init]
	defaultBranch = main
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[difftool]
	prompt = false
